<div class="chart-container">
    <h1 class="text-center">Area Chart Example</h1>
    <ngx-charts-area-chart [scheme]="colorScheme"
                           [results]="multi"
                           [gradient]="gradient"
                           [xAxis]="showXAxis"
                           [yAxis]="showYAxis"
                           [legend]="showLegend"
                           legendTitle="Colors"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [xAxisLabel]="xAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           [autoScale]="autoScale"
                           [timeline]="timeline"
                           (select)="onSelect($event)"></ngx-charts-area-chart>
</div>
