<div class="main-container"
     fxLayout="column"
     [class.fixed-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary"
                 class="toolbar"
                 fxLayout="row"
                 fxLayoutAlign="space-between center">
        <h1>
            <a class="site-brand" routerLink="/">Angular Charts</a>
        </h1>
        <button mat-icon-button
                (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav position="end"
                     [(opened)]="opened"
                     #snav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56">
            <mat-nav-list>
                <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
                <!--<a mat-list-item-->
                   <!--routerLink="/line-chart">Line Chart</a>-->
                <!--<a mat-list-item-->
                   <!--*ngFor="let item of navItems"-->
                   <!--routerLink="/line-chart">{{item}}</a>-->
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>